<% include ../partials/header %>

<header class="jumbotron">
    <h1><i class="fas fa-tree"></i> Welcome to YelpCamp</h1>
    <p>View our hand-picked campgrounds all over the world</p>
    <p>
        <a class='btn btn-primary btn-lg' href="/campgrounds/new">Add New Campground</a>
    </p>
    <p>
        <form class="form-inline" action="/campgrounds" method="GET">
            <div class="form-group mb-xl-2 mr-2">
                <input class="form-control" type="text" name="search" placeholder="Campground search...">
            </div>
            <div class="form-group mb-xl-2">
                <button class="btn btn-light" type="submit">Search</button>
            </div>
        </form>
    </p>
</header>

<div class="row">
    <% campgrounds.forEach((campground) => { %>
    <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">
                    <%= campground.name %>
                </h5>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-secondary center-block">More Info</a>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<% include ../partials/footer %>